.button {
    -fx-background-color: #000000;
    -fx-text-fill: #FFFFFF;
    -fx-border-color: #000000;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-alignment: CENTER-LEFT;
}

.button:pressed {
    -fx-background-color: #FF0000;
    -fx-text-fill: #000000;
}

.button:hover {
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #000000;
}

.button:focused {
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #000000;
}